body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {
    border: 1px solid blue;
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.square:hover {
    background-color: rgb(235, 235, 235);
}